*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
  display:flex;
  justify-content:center;
  align-items:center;

}
.container{
    margin-top:5rem;
    height:90vh;
    width:70vw;
    background-image:url("plans.jpg");
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    font-weight:bolder;
    align-items:center;
    border:none;
    
}
.task{
    margin-top:3rem;
    width:20rem;
    height:2rem;
    display:grid;
    grid-template-columns:1fr 0.3fr 0.3fr;
    font-size:1.2rem;
}
.btn{
    height:2rem;
    width:2rem;
    font-size:1rem;
    background-color:red;
    color:white;
    border:1px solid;
}
.btntask{
    height:2rem;
    width:2rem;
    background-color:rgb(21, 222, 21);
    font-size:1rem;
    border:1px solid;
}
.input{
    width:35rem;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
input{
    height:5rem;
    width:20rem;  
    font-size:1.2rem;
    padding:1rem;
}
.button{
    font-size:1rem;
    font-weight:500px;
    height:5rem;
    width:5rem;
    cursor:pointer;

}
.time{
    display:flex;
}
.stopwatch{
    margin-top:1rem;
    height:15rem;
    width:15rem;
    border-radius:50%;
    padding:2rem 0;
    border:1px solid;
    display:flex;
    font-size:2rem;
    flex-direction:column;
    justify-content:center;
    background-color: black;
    color:white;
    align-items:center;
    gap:2rem;
}
.stopwatch button{
    width:2rem;
    font-weight: bold;
}
.controls{
    width:10rem;
    display:flex;
    justify-content:space-around;
}
.time{
    font-size:3rem;
    font-weight:bolder;
}
.content{
    display:flex;
    align-items:center;
    flex-direction:column;
    height:10rem;
    width:20rem;
    font-size:1rem;
    border:1px solid;
    background-color:wheat;
    color:black;
}
@media screen and (max-width:599px) {
    html{
        font-size:100%;
    }
}
@media screen and (min-width:600px){
    html{
        font-size:62.5%;
    }
}
@media screen and (min-width:1024px){
    html{
        font-size:90%;
    }
}
@media screen and (min-width:1440px){
    html{
        font-size:100%;
    }
}
@media screen and (min-width:2560px){
    html{
        font-size:200%;
    }
}
@media screen and (max-width:600px){
    html{
        font-size:35%;
    }
}
@media screen and (max-width:425px){
    html{
        font-size:30%;
    }
}
@media screen and (max-width:375px){
    html{
        font-size:14%;
    }
}
